body {
	font-size: 100%;
}

#output {
	width: 100%;
}

#output-header h1,
#output-header h4 {
	width: 75%;
	margin-top: 0;
	margin-bottom: 0;
	/* border: 1px solid; */
}

#output-header h4 {
	display: inline;
	float: left;
}

#output-header span.label-valuation {
	float: left;
	margin-right: 2px;
}

#output-header span.data-valuation {
	float: right;
}

#output-header span.label-valuation,
#output-header span.data-valuation {
	font-size: 1.25em;
	font-weight: bold;
}

#output-header span.data-valuation {
	color: firebrick;
}

#financials {
	clear: both;
}

#financials,
#analysis {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 5px;
	margin-bottom: 5px;
}

#income-statement,
#balance-sheet,
#cash-flow {
	flex-basis: auto;
	width: 32.83951%; /* spacing = 8px; 1/3*((1080-16)px/1080) */
	background-color: whitesmoke;
	margin-top: 0;
	margin-bottom: 3px;
}

#income-statement h4,
#balance-sheet h4,
#cash-flow h4 {
	margin-top: 3px;
	margin-bottom: 0;
}

#income-statement div.line-item,
#balance-sheet div.line-item,
#cash-flow div.line-item,
#calculations div.line-item,
#derived div.line-item,
#valuation div.line-item {
	overflow: auto;
	border-top: 1px solid gainsboro;
}


#income-statement span.label,
#balance-sheet span.label,
#cash-flow span.label,
#calculations span.label,
#derived span.label,
#valuation span.label,
#valuation span.label-valuation {
	float: left;
	width: 58%;
	margin-right: 2px;
}

#income-statement span.data,
#balance-sheet span.data,
#cash-flow span.data,
#calculations span.data,
#derived span.data,
#valuation span.data,
#valuation span.data-valuation {
	float: right;
	color: royalblue;
	margin-left: 2px;
}

#income-statement-units,
#balance-sheet-units,
#cash-flow-units {
	font-size: 0.8em;
}

#analysis {
	clear: both;
	margin-bottom: 5px;
}

#calculations,
#derived,
#valuation {
	flex-basis: auto;
	width: 32.83951%; /* spacing = 8px; 1/3*((1080-16)px/1080) */
	background-color: whitesmoke;
}

#calculations div.line-item:first-child,
#derived div.line-item:first-child,
#valuation div.line-item:first-child {
	border-top: none;
}

#calculations span.data,
#derived span.data,
#valuation span.data {
	color: darkolivegreen !important;
}

.input {
	color: lightcoral;
	text-align: right;
}

#valuation span.label-valuation,
#valuation span.data-valuation {
	font-size: 1em;
	/* font-weight: bold; */
}

#valuation span.data-valuation {
	color: firebrick;
}
